@import "tailwindcss";

@theme {
  --color-brand-yellow: #FFD700;
  --color-brand-black: #1a1a1a;
  --font-sans: 'Outfit', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: #fdfdfd;
    color: var(--color-brand-black);
  }
}
